/* icons */
.fa-eye{
	font-size: 1.2rem;
	color: var(--clr-neutral);
	cursor: pointer;
	transform: scale(0);
}

.fa-trash-alt{
	font-size: 1.2rem;
	//color: var(--clr-invalid);
	cursor: pointer;
	margin-left: 0.5rem;
}

.fa-image{
	font-size: 1.2rem;
}